
.jumbotron  {
    background-color: #080708 !important;
    color: white !important;
    border-bottom: 8px solid darkgrey;
}

.button {
    background-color: #FDCA40 !important;
    color: black;
}
